.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  padding: 0 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.header__logo {
  height: 40px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 20px;
  position: relative; }

.nav__item:last-child {
  margin-right: 0; }

.nav__link--is-active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: #00addc; }

.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 60px;
  text-transform: uppercase;
  color: #000; }

.nav__link:hover,
.nav__link--is-active {
  color: #00addc; }

@media screen and (max-width: 916px) {
  .nav {
    height: 50%;
    margin: auto; }
  .nav__list {
    display: block; }
  .nav__link {
    line-height: 20px; } }

.card-list {
  max-width: 992px;
  margin: 50px auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-column-gap: 48px;
  grid-row-gap: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media screen and (max-width: 916px) {
  .card-list {
    margin-top: 200px; } }

.card {
  width: 200px;
  height: 403px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 31px 15px 15px; }
  .card__image {
    width: 160px;
    height: 134px;
    margin: 0 5px;
    padding-bottom: 41px; }
  .card__description {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 5px; }
  .card__code {
    margin: 0;
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 15px; }
  .card__stars {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 1px; }
  .card__star {
    width: 15px;
    height: 15px;
    background: url(../images/star-active.svg) center no-repeat;
    padding-right: 4px; }
  .card .stars .card__star:last-child {
    background: url(../images/star.svg) center no-repeat; }
  .card__feedback {
    margin: 0;
    position: absolute;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    padding: 1px 0 0 112px; }
  .card__price {
    margin: 0;
    padding-top: 40px;
    position: absolute;
    font-size: 11px;
    line-height: 13px; }
  .card__number {
    margin: 0;
    padding-top: 34px;
    padding-left: 91px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px; }
  .card__button {
    position: absolute;
    width: 170px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #00addc;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border: 1px solid #00addc;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer; }
  .card__button:hover {
    background-color: #fff;
    color: #00addc; }

body {
  margin: 0;
  font-family: Roboto, sans-serif; }

/*# sourceMappingURL=main.css.map */
